.effect[color-number='0']
	 color: $base07fixed !important
.effect[color-number='1']
	 color: $base00fixed !important
.effect[color-number='2']
	 color: $base0D !important
.effect[color-number='3']
	 color: $base0B !important
.effect[color-number='4']
	 color: rgba($base08r, $base08g, $base08b, 0.8) !important
.effect[color-number='5']
	 color: $base0F !important
.effect[color-number='6']
	 color: $base0E !important
.effect[color-number='7']
	 color: $base09 !important
.effect[color-number='8']
	 color: $base0A !important
.effect[color-number='9']
	 color: rgba($base0Br, $base0Bg, $base0Bb, 0.8) !important
.effect[color-number='10']
	 color: $base0C !important
.effect[color-number='11']
	 color: rgba($base0Cr, $base0Cg, $base0Cb, 0.8) !important
.effect[color-number='12']
	 color: rgba($base0Dr, $base0Dg, $base0Db, 0.8) !important
.effect[color-number='13']
	 color: rgba($base0Er, $base0Eg, $base0Eb, 0.8) !important
.effect[color-number='14']
	 color: $base02fixed !important
.effect[color-number='15']
	 color: $base05fixed !important
.effect[bgcolor-number='0']
	 background-color: $base07fixed !important
.effect[bgcolor-number='1']
	 background-color: $base00fixed !important
.effect[bgcolor-number='2']
	 background-color: $base0D !important
.effect[bgcolor-number='3']
	 background-color: $base0B !important
.effect[bgcolor-number='4']
	 background-color: rgba($base08r, $base08g, $base08b, 0.8) !important
.effect[bgcolor-number='5']
	 background-color: $base0F !important
.effect[bgcolor-number='6']
	 background-color: $base0E !important
.effect[bgcolor-number='7']
	 background-color: $base09 !important
.effect[bgcolor-number='8']
	 background-color: $base0A !important
.effect[bgcolor-number='9']
	 background-color: rgba($base0Br, $base0Bg, $base0Bb, 0.8) !important
.effect[bgcolor-number='10']
	 background-color: $base0C !important
.effect[bgcolor-number='11']
	 background-color: rgba($base0Cr, $base0Cg, $base0Cb, 0.8) !important
.effect[bgcolor-number='12']
	 background-color: rgba($base0Dr, $base0Dg, $base0Db, 0.8) !important
.effect[bgcolor-number='13']
	 background-color: rgba($base0Er, $base0Eg, $base0Eb, 0.8) !important
.effect[bgcolor-number='14']
	 background-color: $base02fixed !important
.effect[bgcolor-number='15']
	 background-color: $base05fixed !important

